.catalog{
    padding: 40px 0;

    &__content{
        width: 100%;
        display: flex;
        column-gap: 20px;

    }
    &__aside{
        width: 220px;
        min-height: 100vh;
        border-radius: 10px;
        padding: 20px 15px;
        background: $green;
        display: flex;
        flex-direction: column;
        gap: 20px;

        &-label{
            width: 100%;
            color: black;

        }
        &-select{
            color: black;
            width: 100%;
            height: 40px;
        }
        &-item{
            color: #00000090 !important;
        }
    }
    &__right{
        width: calc(100% - 220px);
    }
    &__title{
        @include text(24px, 700, 1.1, #fff);
        margin-bottom: 20px;
        &Link{
            cursor: pointer;
        }

    }
    &__row{
       
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }

}


.css-xen44r .MuiTextField-root {
    margin: 0 !important; 
    width: 100% !important; 
    height: 40px !important;
}
.css-1g24dm6-MuiInputBase-input-MuiOutlinedInput-input{
    height: .8em !important;
}