.footer{
    padding: 26px 0 30px;
    background: linear-gradient(270.7deg, #44403F 0.4%, #211F20 100%);
    position: relative;

    &__up{
        width: 50px;
        height: 50px;
        background: #fff;
        border-radius:  50%;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;

        position: absolute;
        top: 20px;
        right: 20px;
    }
    
    &__row{
        display: flex;
        align-items: center;
        column-gap: 86px;
    }
    &__left{
        display: flex;
        flex-direction: column;
        gap: 7px;
    }
    &__title{
        margin-bottom: 15px;
    }
    &__info{
        @include text(12px, 500, 1.1, $grey-text);
    }
    &__list{
        display: flex;
        column-gap: 40px;
    }
    &__text{
        white-space: nowrap;
        @include text(14px, 500, 1.1, #fff);
    }
    &__link{
        @include text(20px, 500, 1.1, #fff);
    }
}

@media (max-width: 870px){
    .footer{
        &__row{
            column-gap: 80px;
        }
        &__list{
            flex-direction: column-reverse;
            gap: 20px;
        }
        
    }

}
@media (max-width: 560px){
    .footer{
        &__row{
            column-gap: 50px;
        }
    }

}

@media (max-width: 592px){
    .footer{
        &__list{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &__link{
            font-size: 18px;
        }
    }

}

@media (max-width: 520px){
    .footer__up{
        top: -30px;
    }
    .footer__list {
        align-items: baseline;
        gap: 15px;
    }
    .footer__row {
        column-gap: 24px;
    }
}

