.menu{
    padding: 29px 0;
    border-bottom: 1px solid #FFFFFF30;
    &__list{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__link{
        @include text(18px, 500, 21px, $grey-text);
        position: relative;
        &:before{
            content: '';
            width: 0;
            height: 2px;
            background: $green;

            position: absolute;
            top: 48px;
            left: 0;
        }
        &:hover{
            color: #fff;
            &:before{
                transition: .2s all linear;
                content: '';
                width: 120%;
                height: 2px;
                background: $green;
                border-radius: 10px;

                position: absolute;
                top: 48px;
                left: -5px;

            }

           
        }
 
    }
}
@media (max-width: 993px){
    .menu{
        &__list{
            flex-wrap: wrap;
            gap: 20px;
        }
        &__item{
            padding: 0 10px;
            white-space: nowrap;
            &:hover{
                color: $green;
            }
            
        }
        &__link{
            &::before{
                display: none;
            }
        }
    }
}


@media (max-width: 592px){
    .menu{
        display: none;
        border-bottom: none;
        &__list{
            display: flex;
            flex-direction: column;
        }
        &__link{
            color: #fff;
            &:hover{
                transition: .3s all linear;
                color: $green;
            }
            &:active{
                color: $green;
            }
        }
    }
}