.product{
    padding: 30px 0 80px;
    &__back{
        display: flex;
        column-gap: 10px;
        align-items: center;
        margin-bottom: 27px;
        cursor: pointer;
        &-icon{
            width: 26px;
            height: 26px;
            border-radius: 50%;
            background: $green;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        &-text{
            @include text(16px, 600, 1.1, #fff);
        }
    }
    &__row{
        background: linear-gradient(90deg, #494544 0%, #504B4A 100%);
        display: flex;
        flex-wrap: wrap;  
        &-basket{
            column-gap: 25px;
            margin-bottom: 30px;
        }
        &-nutrition{
            column-gap: 50px;
        } 
    }
    &__block{
        width: 50%;
    }
    &__img{
        max-width: 100%;
        height: 100%;
    }
    &__info{
        width: 50%;
        padding: 38px 50px 25px;
        // background: linear-gradient(90deg, #494544 0%, #504B4A 100%);
        display: flex;
        flex-direction: column;

    }
    &__title{
        @include text(25px, 700, 1.2, #fff);
        margin-bottom: 5px;
    }
    &__description{
        @include text(14px, 400, 1.1, $grey-text);
        margin-bottom: 100px;
    }
    &__weight {
        margin-bottom: 22px;
        span{
            @include text(14px, 400, 1.1, #fff);
        }   
    }
    &__nutrition {
        position: relative;
        &::after{
            content: '';
            width: 100%;
            height: 1px;
            background: rgba(255, 255, 255, 0.1);;

            position: absolute;
            top: 20px;
            left: 0;
        }
        p{
            @include text(14px, 400, 1.1, #fff);
            text-align: center;
        }
        p:first-child{
            margin-bottom: 10px;
            
        }
       
            
    }
    &__btn{
        width: 150px;
        height: 50px;

        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 36px;
        &-icon{
            position: relative;
            &:before{
                content: '';
                width: 1px;
                height: 32px;
                background: #FFFFFF50;
                position: absolute;
                top: -5px;
                left: -17px;
            }
        }
    }
    &__nutrition-mobile{
        display: none;
    }





}
.swiper-wrapper {
    padding-top: 20px;
}

@media (max-width: 1200px){
    .product{
        &__description{
            margin-bottom: 27px;
        }
        &__row-nutrition {
            column-gap: 40px;
        }
    }
}
@media (max-width: 942px){
    .product{
        &__block{
            width: 40%;
        }
        &__info{
            width: 60%;
            padding: 25px 10px 25px 25px;
        }
    }
}
@media (max-width: 767px){
    .product{
        &__block{
            width: 200px;
        }
        &__img{
            height: auto;
        }
        &__info{
            width: calc(100% - 200px);
        }
    }
}

@media (max-width: 620px){
    .product{
        &__row-nutrition {
            margin-top: 15px;
            gap: 15px;
        }
        &__row-basket{
            margin-bottom: 0;
            gap: 15px;
        }
        &__weight {
            margin-bottom: 9px;
        }
        &__description {
            margin-bottom: 15px;
        }
        &__info{
            padding: 15px 10px;
        }
    }
}
@media (max-width: 520px){
    .product{
        &__row{
            flex-wrap: nowrap;
        }
        &__block{
            width: 200px;
            
        }
        &__info{
            padding: 0 15px 15px 20px;
            width: 100%;
        }
        &__nutrition {
           display: none;
        }
        &__nutrition-mobile{
            display: block;
        }
    }

}
